[gc]
	reflogExpire = 180.days.ago
[alias]
    br = branch
    ci = commit
    st = status
    co = checkout
    visual = !gitk
    adog = log --all --decorate --oneline --graph
[core]
	excludesfile = ~/.gitignore
[user]
	email = sirnelkher@gmail.com
	name = Gergely Csordas
